{#What's needed:
array of :
1. Content type DB
2. Content Title (Full) DB
3. Author DB
4. Department DB
5. Release year DB
6. Brief Description (For showing at page result)
7. Full Description DB
#}

{% for bcontent in bcontents %}
<div class="well">
    <div class="media">
            <h3>{{ bcontent.type }} {{ bcontent.title }}</h3>
              <ul class="list-inline list-unstyled">
                <li><button type="button" class="btn btn-primary btn-sm btn-link">{{ bcontent.author }}</button></li>
                <li>|</li>
                <li><button type="button" class="btn btn-primary btn-sm btn-link">{{ bcontent.department }}</button></li>
                <li>|</li>
                <li><button type="button" class="btn btn-primary btn-sm btn-link">{{ bcontent.rlyear }}</button></li>
            </ul>
            <p>{{ bcontent.description }}</p>
            <p class="text-right"><a href="#">Learn More</a></p>
    </div>
</div>
{% endfor %}