{#What's needed:
array of :
1. Content type DB
2. Content Title (Full) DB
3. Author DB
4. Department DB
5. Release year DB
6. Brief Description (For showing at page result)
7. Full Description DB
#}
{% if bcontents|length == 0 %}
            <h3 style="padding-bottom: 10px">Nothing to show...</h3>
{% else %}
{% for bcontent in bcontents %}
<div class="well">
    <div class="media">
            <h3>{% if bcontent.type == "1" %}
                    [DOC]
                {% elseif bcontent.type == "2" %}
                    [RAW]
                {% elseif bcontent.type == "3" %}
                    [APP]
                {% elseif bcontent.type == "4" %}
                    [SRC]
                {% else%}
                    [NULL]
                    {% endif %}
    {{ bcontent.title }}</h3>
              <ul class="list-inline list-unstyled">
                <li><button type="button" class="btn btn-primary btn-sm btn-link">{{ bcontent.author }}</button></li>
                <li>|</li>
                <li><button type="button" class="btn btn-primary btn-sm btn-link">{{ bcontent.department }}</button></li>
                <li>|</li>
                <li><button type="button" class="btn btn-primary btn-sm btn-link">{{ bcontent.rlyear }}</button></li>
            </ul>
            <p>{{ bcontent.description }}</p>
            <p class="text-right"><a href="#">Learn More</a></p>
    </div>
</div>
{% endfor %}
{% endif %}