{#left vertical search side bar#}
{#set a default value for some select forms#}
{% set def = '0' %}
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav" id="left_navbar">
                            <div class="col-md-12" id="form-div">
                            <form role="form" action="{{base}}/searchcontent" method="get">
                                <input type="hidden" name="currentpage" value="1"/>
                                <div class="form-group">
                                    <label for="tilte-tag">Title:</label>
                                    <input type="text" name="title" class="form-control" placeholder="Title" id="title-tag">
                                </div>
                                <div class="form-group">
                                <label for="type-tag">Type:</label>
                                <select class="form-control" id="type-tag" name="type">
                                    <option value = {{ def }}>{{ "Select Type" }}</option>
                                    <option value="1">Documents</option>
                                    <option value="2">Raw Data</option>
                                    <option value="3">Applications</option>
                                    <option value="4">Source Code</option>
                                </select>
                                    </div>
                                <div class="form-group">
                                    <label for="department-tag">Department</label>
                                    <select class="form-control" id="department-tag" name="department">
                                        {#Departments#}
                                        <option value = {{ def }}>{{ "Select Department" }}</option>
                                        {% for department in departments %}
                                            <option value = {{ department.val }}>{{ department.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="author-tag">Author:</label>
                                    <input type="text" name="author" class="form-control" placeholder="Author..." id="author-tag">
                                </div>
                                <div class="form-group">
                                    <label for="release-year-tag">Release Year:</label>
                                    <select class="form-control" id="release-year-tag" name="rlyear">
                                        {#Release Years#}
                                        <option value = {{ def }}>{{ "Select Release Year" }}</option>
                                        {% for releaseyear in releaseyears %}
                                        <option value = {{ releaseyear.val }}>{{ releaseyear.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary col-md-offset-4">Search</button>
                            </form>
                                </div>
                        {#<li class="dropdown">#}
                            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>#}
                            {#<ul class="dropdown-menu">#}
                                {#<li><a href="#">Action</a></li>#}
                                {#<li><a href="#">Another action</a></li>#}
                                {#<li><a href="#">Something else here</a></li>#}
                                {#<li class="divider"></li>#}
                                {#<li class="dropdown-header">Nav header</li>#}
                                {#<li><a href="#">Separated link</a></li>#}
                                {#<li><a href="#">One more separated link</a></li>#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li><a href="#">Reviews <span class="badge">1,118</span></a></li>#}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

