<html>
<head></head>
<body>
<h2>Account successfully created!</h2>

<p>Hello {{ name }}</p>

<p>Thank you for registering with us. Your account details are as follows: </p>

<p style="margin-left: 10px">
Username: {{ username }} <br/>
Password: {{ password }}
</p>
    {%if username | length > 0 %}
    <ul>
    {% for i in range(0, 2) %}
        <li>abcd</li>
    {% endfor %}
    </ul>
{% endif %}

<p>
    This is a list joined by commas: {{ list|join(', ')}}
{{ "now"|date(timezone="Europe/Paris")}}
</p>

<p>You have already been logged in, so go on in and have some fun</p>
</body>
</html>